{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row py-5">
    <div class="h2 text-center">About Our <b style="color:red">VOI-NEWS</b>
    <hr style="height:3px;width:12%;margin:0px auto;color:red;">
    </div>
    <div class="text-center py-3">News can't be defined by the second word paper. They've got to be defined by the first <br/>
    word-news. It provides details information about the issues taking place all over the world.<br/>
        <b>VOICE OF INDIA</b> never works on the rumors. It transfers the real news to the people. If you don't <br/>
        read the newspaper you're uninformed. If you read the newspaper , you're misinformed.
    </div>
</div>
<div class="row py-5">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
    <div class="h2 text-center">Our Aim
    <hr style="height:3px;width:4%;margin:0px auto;color:red;">
    </div>
    <div class="text-satisfy">
        <ul>
            <li> It highlights the issues taking place mostfrequently.</li>
            <li> Provides real news to the people </li>
            <li> Works for the people and by the people</li>
            <li> Its main objective is to grasp people's attention and convince them with the information provided</li>
            <li> It believes that <b>More information is always better than less.</b></li>
            <li> It provides news with humor, terseness, descriptive, good literary.</li>
        </ul>
    </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<!--<div class="row">
    <div class="h2 text-center py-5"><b style="color:red;">Guidance</b><hr style="height:3px;width:6%;margin:0px auto;color:red;"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10 py-5" style="height:400px;background:wheat;">
        <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'images/ra.jpg'%}" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <img src="{% static 'images/hg.png'%}" style="max-height:600px" class="d-block w-100" alt="...">
        </div>
    </div>
    <div class="col-sm-1"></div>
    </div>
</div>
<div style="height:50px;"></div>-->
{% endblock %}