{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>


</style>
<!-- start slider-->
<div class="row slider">
    <div class="col-sm-9 p-2">
        <!-- start slider-->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p> <img src="{% static 'images/voi.png'%}" style="max-height:600px" class="d-block w-100" alt="..."></p>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Your Morning Updates</h3>
                    </div>
                </div>
                {% if slide %}
                {% for z in slide %}
                <div class="carousel-item">
                    <a href="/user/viewmore?sli={{z.id}}"> <img src="/{{z.spick}}" style="max-height:600px" class="d-block w-100" alt="..."></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h3 style="color:whit;background:black;">{{z.sheadlines}}</h3>
                    </div>
                </div>
                {% endfor %}
                {% endif %}


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- end slider-->
    </div>
    <div class="col-sm-3 bg-light">
        <div class="h2 px-3"><b>VOICE OF INDIA</b> <b style="color:red;">TRENDING <i class="fa fa-fire"></i></b></div>
        <hr>
        {% if trend %}
        {% for x in trend %}
        <div><a href="/user/viewmore?tren={{x.id}}">{{x.ft}}</a><hr></div>
        {% endfor %}
        {% endif %}

    </div>
</div>
<!-- end slider -->
<!-- category -->
<div class="row category py-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
            {% if data %}
            {% for x in data %}
            <div class="col-sm-2">
                <div class="row im">
                    <a href="#"><div class="col-sm-12 border p-2" style="min-width:200px;min-height:250px">
                        <img src="/{{x.cpick}}" style="min-width:180px;min-height:200px"
                             class="img-thumbnail p-3"/>
                        <div class="h3 text-center">{{x.cname}}</div>
                    </div></a>
                </div>
            </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
   <!--end category -->
<!-- start newcategory -->
<div class="row newcategory py-5">
<div class="h2 py-5 text-center"><b>Big</b> <b style="color:red;">Breaking</b><hr style="height:4px;width:10%;margin:0px auto;color:red;"></div>
    {% if cdata %}
    {% for x in cdata %}
    <div class="col-sm-3 px-5 py-3">
        <a><h3 style="color:red;">{{x.ncategory}}</h3></a><hr>
        <div class="card" style="width: 22rem;">
            <img src="/{{x.fpick}}" style="max-height:180px;" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="/user/viewmore?a={{x.id}}" class="card-text">{{x.fheadlines}}</a>
            </div>
            <hr>
            <div class="card-body">
                <a href="/user/viewmore?b={{x.id}}" class="card-text">{{x.sheadlines}}</a>
            </div>
            <hr>
            <div class="card-body">
                <a href="/user/viewmore?c={{x.id}}" class="card-text">{{x.theadlines}}</a>
            </div>
            <hr>
            <div class="card-body">
                <a href="/user/viewmore?d={{x.id}}" class="card-text">{{x.foheadlines}}</a>
            </div>
            <hr>
            <div class="card-body">
                <a href="/user/viewmore?e={{x.id}}" class="card-text">{{x.fiheadlines}}</a>
            </div>
            <hr>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>
<!-- end newcategory-->

{% endblock %}