{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>

</style>
<div class="row">
    <div class="h2 text-center">Sign <b class="text-success">In</b></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4 p-5 bg-warning">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Name <input type="text" placeholder="Enter Your Name" class="form-control" name="name"/>
            Email <input type="email" placeholder="Enter Your Email" class="form-control" name="email"/>
            Password <input type="password" placeholder="Enter Your Password" class="form-control" name="passwd"/>
            Profile Picture<input type="file" required class="form-control" name="fu"/>
            Mobile No. <input type="text" placeholder="Enter Your Mobile No." class="form-control" name="mobile"/>
            Address<textarea class="form-control" name="address"></textarea>
            <input type="submit" value="Save" class="btn btn-success m-2">
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}